#channels {
    #channels-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
        .section-title {
            width: 100%;
        }
        
        .input-container {
            width: 80%;
        }
    
        .form-submission {
            width: 15%;
            margin-left: 20px;
        }
    }
}