#key-mapping {
    > .key-mapping-list-container {
        > #key-mapping-list {
            position: relative;
            height: 200px;
            margin-bottom: 20px;
            overflow: auto;
            border: 1px solid @syntax-bg-offset;
        }
    }

    > #key-mapping-form {
        > .input-container {
            .input-text {
                > label {
                    width: 30%;
                }
            }
        }
    }
}